
body {
  background-image: url('../img/background/bgB.png');
  background-position: center;
  background-size: cover;
}

.errado {
  color: red;
}

.header_game{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 -10px 15px rgba(0, 0, 0, 1);
}

.header_alight{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-weight: bold;
}

.level{
  font-size: 20px;
}

.pag_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Garante que ocupe toda a largura */
  overflow: hidden; /* Oculta qualquer conteúdo que ultrapasse */
  box-sizing: border-box; /* Garante que padding seja incluído no cálculo da largura */
}

.pag_1 img {
  height: 300px;
  width: 300px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-wrap: break-word;
  width: 100%;
  height: 300px;
}

.content h1 {
  margin: 0;
  font-size: 50px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.entry {
  position: absolute; /* Posiciona em relação ao pai (.content) */
  top: 0;
  left: 0;
  width: 100%; /* Ocupa toda a largura do elemento pai */
  height: 100dvh; /* Ocupa toda a altura do elemento pai */
  background-color: transparent; /* Torna o fundo transparente */
  border: none; /* Remove bordas padrão */
  color: transparent; /* Torna o texto invisível */
  z-index: 1; /* Mantém o campo acima do h1 */
  text-align: center; /* Alinha o texto no centro */
  cursor: pointer; /* Mantém o cursor interativo */
}


.entry:focus {
  outline: none;
  pointer-events: auto;
}


.entry::placeholder{
  color: black; /* Substitua 'gray' pela cor desejada */
  font-style: italic; /* Opcional: para dar um estilo diferenciado */
  opacity: 0.8; /* Opcional: para ajustar a opacidade */
  text-align: center;
}

.entry:focus {
  outline: none;
}

.content p {
  font-size: 20px;
  margin: 10px 0;
}

.img {
  display: flex;
  align-items: center;
}

.img img {
  width: auto;
  height: 300px;
  margin-right: 20px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 2;
}

.forca-img {
  width: 686px; /* Define a largura */
  height: 805px; /* Mantém a proporção da altura */
}

.skip {
  background-color: #3e80fc;
}

.skip:hover{
  background-color: #509cfa;
}

.tip{
  background-color: #fcac3d;
}

.tip:hover{
  background-color: #ffbe4d;
}

.latters_used{
  margin-top: 20px;
  width: 100%;
  font-size: 1.15rem;
  font-weight: bold;
  text-wrap: wrap;
  word-wrap: break-word;
}

@media screen and (max-width: 1025px) {
  .container {
   margin: 20px 5%; 
  }
}

@media screen and (max-width: 769px){
  .pontuation {
    flex-direction: column; /* Empilha os elementos verticalmente */
    margin: 20px 20px; /* Reduz as margens laterais */
    padding: 10px; /* Adiciona um pouco de espaçamento interno */
    height: auto; /* Ajusta automaticamente a altura */
    gap: 10px; /* Espaçamento entre os elementos */
    flex-wrap: wrap;
  }
  .container{
    margin: 20px 10%;
  }
  .container_2{
    margin: 0 10%;
  }
  .pag_1{
    flex-direction: column;
  }
  .pag_1 img{
    margin: 0;
  }
  .pag_2{
    flex-direction: column;
  }
  .pag_2 img{
    margin-bottom: 20px;
  }
  .content{
    margin-top: 20px;
  }
  .latters_usec{
    height: none;
  }
  .buttons {
    flex-wrap: wrap; /* Permite que os botões quebrem linha em telas pequenas */
    gap: 10px; /* Espaço entre os botões */
  }
}

@media screen and (max-width: 496px) {
  .content{
    height: 380px;
  }
  
  .buttons{
    padding: 5px 12px;
    margin: 5px;
  }
}

@media screen and (max-width: 376px){
  .container{
    margin: 20px 5%;
  }
  .container_2{
    margin: 0 2%;
  }
  .content{
    height: 400px;
  }
}

@media screen and (max-width: 336px){
  .content{
    height: 450px;
  }
}
